@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media print {
  body{
      width: 21cm;
      height: 29.7cm;
      margin: 30mm 45mm 30mm 5mm; 
 } 
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.main-content {
  animation: fade-down 0.5s ease-out;
}

.sidebar {
  animation: fade-down 0.5s ease-out;
}

@keyframes text-linear {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

.main-content  p, ul, .stack {
  animation: text-linear linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}